{{define "calls"}}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Anrufbeantworter</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      .sidebar-nav {
        padding: 9px 0;
      }
      .play {
          width: 5em;
      }
      .date, .caller {
          width: 10em;
      }
      .play-link {
          text-align: right;
      }
      .table tbody tr:hover td, .table tbody tr:hover th {
           background-color: white;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="js/xpath.js"></script>
        <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Anrufbeantworter</a>

      <ul id="navigation" class="nav">
        {{if .New}}<li><a href="#new">Neue Nachrichten</a></li>{{end}}
        {{if .Old}}<li><a href="#old">Alte Nachrichten</a></li>{{end}}
      </ul>
      <ul class="nav pull-right">
        <li style="display: none;" id="playerContainer">
          <!-- <h3>Anruf
          von <span bind="text:telefon.model.player_call_text"></span></h3>
          -->
          <audio id="player"
                 type="audio/mpeg"
                 src="/nonexistent">
          </audio>
        </li>

      </ul>
    </div>
  </div>
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div id="content">
{{if .New}}
<h2><a name="new">Neue Nachrichten</a></h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Datum</th>
      <th>Anrufer</th>
      <th>Dauer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 
{{range .New}}
    <tr>
     <td class="play">
        <button class="play-voicemail-btn-left btn btn-success"
                data-voicemail="{{.VoicemailPath}}">
          <i class="icon-play"></i>
        </button>
      </td>
      <td class="date">{{.Date.Format "02.01.2006 15:04"}}</td>
      <td class="caller">{{.Caller}}</td>
      <td class="duration">{{.Duration}}</td>
      <td class="play-link" style="text-align: right;">
        <button class="btn play-voicemail-btn-right"
                data-voicemail="{{.VoicemailPath}}">
          Abspielen
        </button>
      </td>
    </tr>
{{end}}
</tbody>
</table>
{{end}}

{{if .Old}}
<h2><a name="old">Alte Nachrichten</a></h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Datum</th>
      <th>Anrufer</th>
      <th>Dauer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 
{{range .Old}}
    <tr>
     <td class="play">
        <button class="play-voicemail-btn-left btn btn-success"
                data-voicemail="{{.VoicemailPath}}">
          <i class="icon-play"></i>
        </button>
      </td>
      <td class="date">{{.Date.Format "02.01.2006 15:04"}}</td>
      <td class="caller">{{.Caller}}</td>
      <td class="duration">{{.Duration}}</td>
      <td class="play-link" style="text-align: right;">
        <button class="btn play-voicemail-btn-right"
                data-voicemail="{{.VoicemailPath}}">
          Abspielen
        </button>
      </td>
    </tr>
{{end}}
</tbody>
</table>
{{end}}

<!--            
<ul class="pager">
  <li class="previous">
    <a href="#" bind="click:telefon.controller.older_clicked">&larr; Ältere</a>
  </li>
  <li class="next">
    <a href="#" bind="click:telefon.controller.newer_clicked">Neuere &rarr;</a>
  </li>
</ul>
-->

            
          </div>
        </div>

      <div id="options"></div>
      <footer></footer>

    </div> <!-- /container -->

<script type="text/javascript" src="/js/zepto.min.js"></script>
<script type="text/javascript">
var currentlyPlaying = null;
var player = document.getElementById("player");

function resetButtons() {
    if(currentlyPlaying === null) return;

    player.pause();
    player.src = null;
    
    currentlyPlaying.leftButton
        .removeClass("btn-danger")
        .addClass("btn-success")
        .removeClass("currently-loading")
        .find("i")
        .removeClass("icon-stop")
        .addClass("icon-play");
    currentlyPlaying.rightButton.text("Abspielen");
}

function play(isplay, leftButton, rightButton) {
    if(leftButton.hasClass("currently-loading")) {
        return;
    }

    resetButtons();
    player.pause();
    
    if(isplay) {
        currentlyPlaying = {leftButton: leftButton, rightButton: rightButton};
        player.src = leftButton.data("voicemail");
        player.load();

        rightButton.text("Stoppen");
        leftButton
            .addClass("currently-loading")
            .removeClass("btn-success")
            .addClass("btn-danger")
            .find("i")
            .removeClass("icon-play")
            .addClass("icon-stop");
    }
}

player.addEventListener("ended", function() {
    this.src = null;
    resetButtons();
});

player.addEventListener("canplay", function() {
    this.play();
    currentlyPlaying.leftButton.removeClass("currently-loading");
});

$(".play-voicemail-btn-left").click(function(e) {
    var rightButton = $(this.parentNode.parentNode).find(".play-voicemail-btn-right");
    play($(this).find("i").hasClass("icon-play"),
         $(this),
         rightButton);
});

$(".play-voicemail-btn-right").click(function(e) {
    var leftButton = $(this.parentNode.parentNode).find(".play-voicemail-btn-left");
    play(leftButton.find("i").hasClass("icon-play"),
         leftButton,
         $(this));
});
</script>
</body>
</html>
{{end}}
