{{define "calls"}}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Anrufbeantworter</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="js/xpath.js"></script>
        <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Anrufbeantworter</a>

      <ul id="navigation" class="nav"></ul>
      <ul class="nav pull-right">
        <li style="display: none;" id="playerContainer">
          <!-- <h3>Anruf
          von <span bind="text:telefon.model.player_call_text"></span></h3>
          -->
          <audio id="player"
                 autoplay="autoplay" type="audio/mpeg"
                 controls="controls"
                 src="/nonexistent">
          </audio>
        </li>

      </ul>
    </div>
  </div>
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div id="content">

            <table class="table">
  <thead>
    <tr>
      <th>Anrufer</th>
      <th>Dauer</th>
      <th>Datum</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{range . }}
    <tr>
      <td data-name="caller">{{.Caller}}</td>
      <td data-name="duration" width="5em">{{.Duration}}</td>
      <td data-name="date">{{.Date}}</td>
      <td data-name="play" style="text-align: right;">
        <a class="play-voicemail btn btn-success"
           href="{{.VoicemailPath}}">
          <i class="icon-play"></i>
        </a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

<!--            
<ul class="pager">
  <li class="previous">
    <a href="#" bind="click:telefon.controller.older_clicked">&larr; Ältere</a>
  </li>
  <li class="next">
    <a href="#" bind="click:telefon.controller.newer_clicked">Neuere &rarr;</a>
  </li>
</ul>
-->

            
          </div>
        </div>
        <div class="span3">
          <div id="sidebar">
            
          </div>
        </div>

      <div id="options"></div>
      <footer></footer>

    </div> <!-- /container -->
      
    <script type="text/javascript" src="/js"></script>
<script type="text/javascript">
$(".play-voicemail").click(function(e) {
    var i = $(this).find("i");
    var play = i.hasClass("icon-play");
    
    $(".play-voicemail").removeClass("btn-danger").addClass("btn-success");
    $(".play-voicemail").find("i").removeClass("icon-stop").addClass("icon-play");
    
    if(play) {
        $("#playerContainer").show();
        $("#player").attr("src", $(this).attr("href"));
        document.getElementById("player").play();
        $(this).removeClass("btn-success").addClass("btn-danger");
        i.removeClass("icon-play").addClass("icon-stop");
    } else {
        $("#playerContainer").hide();
        document.getElementById("player").pause();
    }
    
    e.preventDefault();
});
</script>
</body>
</html>
{{end}}
