{{define "calls"}}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Anrufbeantworter</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      .sidebar-nav {
        padding: 9px 0;
      }
      .play {
          width: 5em;
      }
      .date, .caller {
          width: 10em;
      }
      .play-link {
          text-align: right;
      }
      .table tbody tr:hover td, .table tbody tr:hover th {
           background-color: white;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="js/xpath.js"></script>
        <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Anrufbeantworter</a>

      <ul id="navigation" class="nav">
        {{if .New}}<li><a href="#new">Neue Nachrichten</a></li>{{end}}
        {{if .Old}}<li><a href="#old">Alte Nachrichten</a></li>{{end}}
      </ul>
      <ul class="nav pull-right">
        <li style="display: none;" id="playerContainer">
          <!-- <h3>Anruf
          von <span bind="text:telefon.model.player_call_text"></span></h3>
          -->
          <audio id="player"
                 type="audio/mpeg"
                 src="/nonexistent">
          </audio>
        </li>

      </ul>
    </div>
  </div>
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div id="content">
{{if .New}}
<h2><a name="new">Neue Nachrichten</a></h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Datum</th>
      <th>Anrufer</th>
      <th>Dauer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 
{{range .New}}
    <tr>
     <td class="play">
        <a class="play-voicemail-btn btn btn-success"
           href="{{.VoicemailPath}}">
          <i class="icon-play"></i>
        </a>
      </td>
      <td class="date">{{.Date.Format "02.01.2006 15:04"}}</td>
      <td class="caller">{{.Caller}}</td>
      <td class="duration">{{.Duration}}</td>
      <td class="play-link" style="text-align: right;"><a class="play-voicemail-link" href="{{.VoicemailPath}}">Abspielen</a></td>
    </tr>
{{end}}
</tbody>
</table>
{{end}}

{{if .Old}}
<h2><a name="old">Alte Nachrichten</a></h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Datum</th>
      <th>Anrufer</th>
      <th>Dauer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
 
{{range .Old}}
    <tr>
     <td class="play">
        <a class="play-voicemail-btn btn btn-success"
           href="{{.VoicemailPath}}">
          <i class="icon-play"></i>
        </a>
      </td>
      <td class="date">{{.Date.Format "02.01.2006 15:04"}}</td>
      <td class="caller">{{.Caller}}</td>
      <td class="duration">{{.Duration}}</td>
      <td class="play-link" style="text-align: right;"><a class="play-voicemail-link" href="{{.VoicemailPath}}">Abspielen</a></td>
    </tr>
{{end}}
</tbody>
</table>
{{end}}

<!--            
<ul class="pager">
  <li class="previous">
    <a href="#" bind="click:telefon.controller.older_clicked">&larr; Ältere</a>
  </li>
  <li class="next">
    <a href="#" bind="click:telefon.controller.newer_clicked">Neuere &rarr;</a>
  </li>
</ul>
-->

            
          </div>
        </div>

      <div id="options"></div>
      <footer></footer>

    </div> <!-- /container -->

    <script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
function resetButtons() {
    $(".play-voicemail-btn").removeClass("btn-danger").addClass("btn-success").removeClass("currently-loading");
    $(".play-voicemail-btn").find("i").removeClass("icon-stop").addClass("icon-play");
    $(".play-voicemail-link").text("Abspielen");
}

function play(isplay, link, button) {
    if(button.hasClass("currently-loading")) {
        return;
    }
   
    resetButtons();
    if(isplay) {
        button.addClass("currently-loading");
        link.text("Stoppen");
        button.removeClass("btn-success").addClass("btn-danger");
        button.find("i").removeClass("icon-play").addClass("icon-stop");

        $("#player").attr("src", link.attr("href"));
        document.getElementById("player").load();
    } else {
        document.getElementById("player").pause();
    }
}

$("#player").bind("ended", function() {
    $("#player").attr("src", "");
    resetButtons();
}).bind("canplay", function() {
    this.play();
    $(".play-voicemail-btn").removeClass("currently-loading");
});

$(".play-voicemail-btn").click(function(e) {
    e.preventDefault();
    play($(this).find("i").hasClass("icon-play"),
         $(this).parent().parent().find(".play-voicemail-link"),
         $(this));
});

$(".play-voicemail-link").click(function(e) {
    e.preventDefault();
    var playVoicemailBtn = $(this).parent().parent().find(".play-voicemail-btn");
    play(playVoicemailBtn.find("i").hasClass("icon-play"),
         $(this),
         playVoicemailBtn);
});



</script>
</body>
</html>
{{end}}
